<section id="home">
  <div id="section-1-bg"></div>
  <div id="home-content">
    <h1>
      <div id="intro" class="text-shadow">
        Кириленко Альона
        <span class="text-center text-shadow">Психоаналітично-орієнтований<br/>психотерапевт</span>
      </div>
    </h1>
  </div>
</section>

<section id="education">
  <div class="education-grid-block">
    <div class="education-separator line"></div>
    <div class="education-card-wrapper slide-left-to-right-wrapper">
      <div class="education-card">
        <div class="education-separator circle"></div>
        <div class="education-card-title">
          Освіта
        </div>
        <div class="education-card-content">
          <ul>
            <li lang="uk">Закінчила магістратуру університету Кот-дʼАзюр (Ніцца, Франція)</li>
            <li lang="uk">Закінчила Міжнародний Інститут Глибинної Психології (Київ, Україна)</li>
            <li lang="uk">Член Української Асоціації Психоаналізу</li>
            <li lang="uk">Член міжнародної асоціації La Cause des bébés</li>
            <li lang="uk">Учасниця проекту “ДІЯ СЛОВА” , який створений Міжнародним інститутом глибинної психології спільно з Міжнародною Федерацією Психоаналізу та Українською Асоціацією Психоаналізу</li>
            <li lang="uk">Проходжу тренінговий аналіз (особиста терапія) у сертифікованого спеціаліста та тренінгового психоаналітика УАП-ЄКПП Україна (більше 300 годин, який триває)</li>
            <li lang="uk">Регулярні індивідуальні та групові супервізії</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="education-grid-block">
    <div class="education-separator line secondary"></div>

    <div class="education-card-wrapper slide-right-to-left-wrapper">
      <div class="education-card">
        <div class="education-separator circle secondary"></div>

        <div class="education-card-title">
          Спеціалізації
        </div>
        <div class="education-card-content">
          <ul>
            <li lang="uk">Спеціалізація з клінічного психоаналізу “Психоаналітична робота з не-невротичними пацієнтами” (128 годин)</li>
            <li lang="uk">Клінічна спеціалізація «Психоаналітичні стратегії в психотерапії дітей та підлітків. Психічні наслідки війни для юного суб'єкту» (128 годин)</li>
            <li lang="uk">Курс “Організація психоаналітичної практики в сучасних умовах” (20 годин)</li>
            <li lang="uk">Курс “Терапія партнера нарцисичного перверта” (10 годин)</li>
            <li lang="uk">Клінічний семінар “Демони печалі: меланхолія та депресія як психічні розлади і феномени. Психоаналітичний погляд” (8 годин)</li>
            <li lang="uk">Міжнародна психоаналітична конференція “Неосексуальність: норма і патологія”</li>
            <li lang="uk">Всеукраїнський клінічно-практичний симпозіум “Виклики псиспеціалістам в процесі роботи з онкохворими” (12 годин)</li>
            <li lang="uk">Семінар-практикум “Перенесення: пристрасть і ненависть в аналітичному просторі”</li>
            <li lang="uk">Практично-теоретичний семінар: “Інша реальність. Психотична структура і можливості психоаналізу” (10 годин)</li>
          </ul>
        </div>
        <div id="show-gallery" class="btn">Більше</div>
      </div>
    </div>
  </div>
</section>

<section id="gallery">
  <div id="gallery-back-button">Повернутися</div>
  <div id="slider">
    <% certificates = Certificate.ordered.all %>
    <% if certificates.any? %>
      <div class="slider-item" data-elid="<%= certificates.count %>"><img data-src="<%= url_for(certificates.last.image) %>" /></div>

      <% certificates[0..-2].each_with_index do |certificate, index| %>
        <% if index < 3 %>
          <div class="slider-item" data-elid="<%= index %>"><img class='loaded' src="<%= url_for(certificate.image) %>" /></div>
        <% else %>
          <div class="slider-item" data-elid="<%= index %>"><img data-src="<%= url_for(certificate.image) %>" /></div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div id="slider-controls">
    <div class="slider-per-page">

    </div>
    <div class="slider-buttons">
      <div class="slider-button left"></div>
      <div class="slider-button right"></div>
    </div>
  </div>
</section>

<section id="services">
  <div class="services-separator line"></div>
  <div class="services-separator circle "></div>
  <div class="services-grid-block">
    <div class="services-card-title">
      Робота з дітьми та підлітками
    </div>
    <div class="services-content-content">
      <div class="services-content-list-line">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13" stroke="#556B73" stroke-width="2"/><path d="M11.375 7.875L18.375 13.6597L11.375 20.125" stroke="#556B73" stroke-width="2"/></svg>
        <span>Страхи та фобії</span>
      </div>

      <div class="services-content-list-line">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13" stroke="#556B73" stroke-width="2"/><path d="M11.375 7.875L18.375 13.6597L11.375 20.125" stroke="#556B73" stroke-width="2"/></svg>
        <span>Порушення сну</span>
      </div>

      <div class="services-content-list-line">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13" stroke="#556B73" stroke-width="2"/><path d="M11.375 7.875L18.375 13.6597L11.375 20.125" stroke="#556B73" stroke-width="2"/></svg>
        <span>Енурез, енкопрез</span>
      </div>

      <div class="services-content-list-line">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13" stroke="#556B73" stroke-width="2"/><path d="M11.375 7.875L18.375 13.6597L11.375 20.125" stroke="#556B73" stroke-width="2"/></svg>
        <span>Нервові тіки</span>
      </div>

      <div class="services-content-list-line">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13" stroke="#556B73" stroke-width="2"/><path d="M11.375 7.875L18.375 13.6597L11.375 20.125" stroke="#556B73" stroke-width="2"/></svg>
        <span>Навʼязливі думки/ритуали</span>
      </div>

      <div class="services-content-list-line">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13" stroke="#556B73" stroke-width="2"/><path d="M11.375 7.875L18.375 13.6597L11.375 20.125" stroke="#556B73" stroke-width="2"/></svg>
        <span>Труднощі соціальної адаптації</span>
      </div>

      <div class="services-content-list-line">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13" stroke="#556B73" stroke-width="2"/><path d="M11.375 7.875L18.375 13.6597L11.375 20.125" stroke="#556B73" stroke-width="2"/></svg>
        <span>Труднощі в спілкуванні з однолітками</span>
      </div>

      <div class="services-content-list-line">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13" stroke="#556B73" stroke-width="2"/><path d="M11.375 7.875L18.375 13.6597L11.375 20.125" stroke="#556B73" stroke-width="2"/></svg>
        <span>Труднощі в навчанні, проблемна поведінка</span>
      </div>

      <div class="services-content-list-line">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13" stroke="#556B73" stroke-width="2"/><path d="M11.375 7.875L18.375 13.6597L11.375 20.125" stroke="#556B73" stroke-width="2"/></svg>
        <span>Батьківсько-дитячі стосунки</span>
      </div>

      <div class="services-content-list-line">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13" stroke="#556B73" stroke-width="2"/><path d="M11.375 7.875L18.375 13.6597L11.375 20.125" stroke="#556B73" stroke-width="2"/></svg>
        <span>Труднощі підліткового віку</span>
      </div>

      <div class="services-content-list-line">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13" stroke="#556B73" stroke-width="2"/><path d="M11.375 7.875L18.375 13.6597L11.375 20.125" stroke="#556B73" stroke-width="2"/></svg>
        <span>Самопошкодження у підлітків</span>
      </div>

      <div class="services-content-list-line">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13" stroke="#556B73" stroke-width="2"/><path d="M11.375 7.875L18.375 13.6597L11.375 20.125" stroke="#556B73" stroke-width="2"/></svg>
        <span>Суїцидальні думки</span>
      </div>
    </div>
  </div>

  <div class="services-grid-block">
    <div class="services-card-title">
      Робота з дорослими
    </div>
    <div class="services-content-content">
      <div class="services-content-list-line">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13" stroke="#556B73" stroke-width="2"/><path d="M11.375 7.875L18.375 13.6597L11.375 20.125" stroke="#556B73" stroke-width="2"/></svg>
        <span>Материнство</span>
      </div>

      <div class="services-content-list-line">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13" stroke="#556B73" stroke-width="2"/><path d="M11.375 7.875L18.375 13.6597L11.375 20.125" stroke="#556B73" stroke-width="2"/></svg>
        <span>Супровід вагітності</span>
      </div>

      <div class="services-content-list-line">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13" stroke="#556B73" stroke-width="2"/><path d="M11.375 7.875L18.375 13.6597L11.375 20.125" stroke="#556B73" stroke-width="2"/></svg>
        <span>Післяпологова депресія</span>
      </div>

      <div class="services-content-list-line">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13" stroke="#556B73" stroke-width="2"/><path d="M11.375 7.875L18.375 13.6597L11.375 20.125" stroke="#556B73" stroke-width="2"/></svg>
        <span>Труднощі в налагодженні контакту з новонародженим</span>
      </div>

      <div class="services-content-list-line">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13" stroke="#556B73" stroke-width="2"/><path d="M11.375 7.875L18.375 13.6597L11.375 20.125" stroke="#556B73" stroke-width="2"/></svg>
        <span>Труднощі у побудуванні стосунків</span>
      </div>

      <div class="services-content-list-line">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13" stroke="#556B73" stroke-width="2"/><path d="M11.375 7.875L18.375 13.6597L11.375 20.125" stroke="#556B73" stroke-width="2"/></svg>
        <span>Безсоння</span>
      </div>

      <div class="services-content-list-line">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13" stroke="#556B73" stroke-width="2"/><path d="M11.375 7.875L18.375 13.6597L11.375 20.125" stroke="#556B73" stroke-width="2"/></svg>
        <span>Тривога, панічні атаки</span>
      </div>

      <div class="services-content-list-line">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13" stroke="#556B73" stroke-width="2"/><path d="M11.375 7.875L18.375 13.6597L11.375 20.125" stroke="#556B73" stroke-width="2"/></svg>
        <span>Депресія, втрата сенсу життя</span>
      </div>

      <div class="services-content-list-line">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13" stroke="#556B73" stroke-width="2"/><path d="M11.375 7.875L18.375 13.6597L11.375 20.125" stroke="#556B73" stroke-width="2"/></svg>
        <span>Горювання</span>
      </div>

      <div class="services-content-list-line">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="14" cy="14" r="13" stroke="#556B73" stroke-width="2"/><path d="M11.375 7.875L18.375 13.6597L11.375 20.125" stroke="#556B73" stroke-width="2"/></svg>
        <span>Розлади харчової поведінки, адикції</span>
      </div>
    </div>
  </div>
</section>

<section id="contacts">
  <div class="contacts-grid-block">
    <div class="photo-image"></div>
  </div>
  <div class="contacts-grid-block">
    <div class="photo-image for-mobile"></div>
    <div id="contacts-info-container">
      <div style="margin-bottom: 16px;">
        Я працюю онлайн та в кабінеті в м. Черкаси. Щоб домовитися про зустріч або уточнити деталі, зв'яжіться зі мною:
      </div>

      <div id="phone-number" class="contact-item" style="margin-top: auto;">
        <i class="fa-solid fa-phone primary-color"></i>
        <span>097-244-244-5</span>
      </div>
      <div class="contact-item">
        <i class="fa-brands fa-instagram"></i>
        <a href="https://ig.me/m/a.m.kirilenko_pa">a.m.kirilenko_pa</a>
      </div>

      <div class="contact-item">
        <i class="fa-brands fa-telegram"></i>
        <a href="https://t.me/alionakirilenko_pa">alionakirilenko_pa</a>
      </div>

      <div class="contact-item">
        <i class="fa-solid fa-location-dot"></i>
        <span>м. Черкаси, бульвар Шевченка, 145</span>
      </div>

      <div id="google-map">
        <iframe width="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2509.290343138169!2d32.05135581412996!3d49.4485703855703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d14c84944cee9f%3A0xadd4e3e0137247dc!2z0LHRg9C7LiDQqNC10LLRh9C10L3QutC-LCAxNDUsINCn0LXRgNC60LDRgdGB0YssINCn0LXRgNC60LDRgdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAxODAwMA!5e0!3m2!1sru!2sua!4v1722884269273!5m2!1sru!2sua" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
